$grey: #dfe2e7;
//$green: green;
$nav-grey: #73708d;
$pink: #ff1493;
$gray-lighten-more: #f2f4f8;
$darkgrey: #babbbb;
$darkblue: #007bff;
$chartGreen:#4BC0C0;
$chardRed:  #FF6384;
$chardYellow: #ffce56;
$white: #fff;
//
$text: #74708d;
$text-lighten: #c0bdd0;
$text-darken: #615d7c;
$text-darken-more: #514d6a;

$gray: #d2d9e5;
$gray-lighten: #eef0f4;
$gray-lighten-more: #f2f4f8;
$gray-lighten-more-more: #f9fafc;
$gray-darken: #b8beca;
$gray-border: #e4e9f0;

$black: #0e0b20;
$black-lighten: #222034;
$black-lighten-more: #393749;

//$blue: #08f;
$blue-darken: #0072d6;
$orange: #f2a654;
//$yellow: yellow;

$menuBg: #001529;
$menuBg-darken: #000c17;

// Accent colors
$default: #acb7bf;
$primary: #0190fe;
$secondary: #6a7a84;
$success: #46be8a;
$info: #0887c9;
$warning: #f39834;
$danger: #fb434a;



// new scheme

//$blue: #173f5f;
$blue: #20639b;
$green: #3dafa3;
$yellow: #f6d55c;
$red: #ed553b;

