.info{
  font-weight: bolder;
}

.center-align-text{
  text-align: center;
}



.btn{
  border-radius: 0;
}
.vertical-centered-list{
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  text-align: left;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.horizontal-list{
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  justify-content: space-around;


  display: flex;
}


.shadow-box{
  box-shadow: 0 0 10px 10px #eee;
}
