@import "colors";

.info {
  font-weight: bolder;
}

.title-center {
  width: 100%;
  text-align: center;
}

.center-align-text {
  text-align: center;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
}
//.hidden{
//  visibility: hidden;
//  opacity: 1;
//}
//.visible{
//  visibility: visible;
//  opacity: 0;
//}

.btn {
  border-radius: 0;
  border: none;
  font-weight: bold;
  color: white;
}

.btn-primary{
  background-color: $blue;
  &:hover{
    background-color: $blue;
  }
}
.btn-light{
  color: black;
}
.btn-danger{
  background-color: $red;
}
.btn-warning{
  background-color: $yellow;
  &:hover{
    color: white;
  }
}


.badge{
background-color: $green;
}

a{
  color: $blue;
  font-weight: bold;
}


.vertical-centered-list {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  text-align: left;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.horizontal-list {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  justify-content: space-around;


  display: flex;
}


.shadow-box {
  box-shadow: 0 0 10px 10px #eee;
}

.under-linked {
  border-bottom: 1px solid rgba(57, 55, 73, 0.25);

  a {
    color: rgba(0, 0, 0, 0.65);

    &:hover {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.65);
    }
  }
}

.float-right{
  float: right;
}

.status-success{
  color: $success;
  &::before{
    content: "✓";
    margin-right: rem(4);
  }
}


// Font Size
$base__font-size: 13 !default;

// Convert value rem() sass mixin
@function rem($px, $base: $base__font-size) {
  @return #{floor(($px/$base) * 100) / 100}rem; // to REMs
  // comment code above and uncomment below for change REMs to PXs
  //@return #{$px}px;
}
