@import "utils";
@import "colors";

.jumbotron{
  h1,h4{
    text-align: center;
  }
}
.login-section{
  p.description{
    @extend .center-align-text
  }
}


.dashboard-section {
  border: 1px solid $grey;
  height: 370px;
  margin-bottom: 30px;


  h3.section-title {
    text-transform: uppercase;
    color: $darkblue;
    text-align: center;
    margin: 2%;
    font-size: 1.6em;
  }
}


.table-section {

  .see-all {
    width: 100%;
    text-align: center;
  }

  padding: 10px;

  .table-key {
    margin-right: 30px;
    border: 1px solid $grey;

    ul {
      list-style: none;
      padding-left: 0;
      margin: 0 20px;

      li {

        .key-color {
          margin-right: 10px;
          display: inline-block;
          $s: 10px;
          width: $s;
          height: $s;
        }


      }
    }
  }

  .table {
    td {
      a {
        color: $blue;
        font-weight: bold;
      }
    }

    .product-name {
      font-weight: bold;
    }

    thead {
      th {
        border-top: none;
      }
    }
  }


}


.product-status-section {

  .progress {
    height: 50px;
    border-radius: 0;
  }

  .progress-bar {
    font-style: italic;
    font-size: 2em;
  }
}

.product-details-section {
  padding-top: 30px;
  border-bottom: 2px solid $grey;
  text-align: center;

}

$min-height: 300px;
.action-panel-form-section {
  h1 {
    border-bottom: 1px solid $grey;
    margin-bottom: 40px;

  }

  border: 1px dashed $grey;
  padding: 50px;
  min-height: $min-height;
}

.status-tab {
  p.status-tab-description {
    color: $darkblue;
    font-weight: bold;
  }

  border: 1px solid $grey;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.qr-code-wrapper {
  width: 400px;
  margin: 0 auto;
}

p.description {
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  font-size: 1.2em;
}


.hidden {
  display: none;
}


.navbar {

  border-bottom: 1px solid $grey;

  .profile-image {
    border-radius: 50%;
    max-width: 50px;

  }

  .profile-name {
    margin-right: 10px;
    max-width: 100%;
    color: black;
  }

}

.loader{
  background: rgba(40, 44, 52, 0.57);

  position: fixed;
  z-index: 1051;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  div.loader-container{
    text-align: center;
    color: white;
    font-size: 3em;
    margin: 20% auto;
    width: 50%;

  }
}
