@import "utils";
@import "colors";
@import "./themeUI/mixins";

* {
  font-family: "Nunito Sans", sans-serif;
}

html {
  font-size: 13px;
}

strong {
  font-size: inherit;
}

main {
  background-color: $gray-lighten-more;
  padding-bottom: rem(20);
  .card {
    background: $white;
    padding: rem(20);
    border: none;
    .card-header {
      padding: 0;
      background-color: $white;
      margin-bottom: rem(8);
      border-bottom: 0;
      text-align: left;
    }

    .action-panel-head {
      border-bottom: 1px solid $grey;
      margin-bottom: rem(25)
    }

    .card-footer {
      padding-top: 0;
      border-top: 0;
    }

    .utils__title {
      padding-left: 0;
      font-size: rem(16);

      :nth-child(2) {
        margin-left: rem(15);
      }
    }
  }
}

.utils__title {
  text-transform: uppercase;
  font-size: rem(16);
  padding-left: rem(12);
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}

.uid {
  text-transform: uppercase;
}

.jumbotron {
  h1,
  h4 {
    text-align: center;
  }
}

.login-section {
  p.description {
    @extend .center-align-text;
  }
}

.product-info-tab {
  margin-bottom: 20px;
}

.table-col,
.chart-col {
  margin-bottom: 10px;
}

.dashboard-section {
  max-height: 370px;
  min-height: 370px;
  margin-bottom: 30px;

  h3.section-title {
    text-transform: uppercase;
    color: $darkblue;
    text-align: center;
    margin: 2%;
    font-size: 1.6em;
  }
}

.add-harvest-col {
  button {
    width: 100%;

    a {
      color: white;

      &:hover {
        text-decoration: none !important;
      }
    }
  }

  margin-bottom: 50px;
}

.table-section {
  .see-all {
    width: 100%;
    text-align: center;
  }

  .table-key {
    margin-right: 30px;
    border: 1px solid $grey;

    ul {
      list-style: none;
      padding-left: 0;
      margin: 0 20px;

      li {
        .key-color {
          margin-right: 10px;
          display: inline-block;
          $s: 10px;
          width: $s;
          height: $s;
        }
      }
    }
  }

  .table {
    thead {
      th {
        border-top: none;
      }
    }
  }
}

.product-status-section {
  margin-top: 20px;

  .progress {
    height: 50px;
    border-radius: 0;
  }

  .progress-bar {
    font-style: italic;
    font-size: 2em;
  }
}

$min-height: 300px;

.status-tab {
  .progress-bar {
    background-color: rgb(0, 123, 255);
  }

  p.status-tab-description {
    color: $darkblue;
    font-weight: bold;
  }
}

.qr-code-wrapper {
  width: 400px;
  margin: 0 auto;
}

p.description {
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  font-size: 1.2em;
}

.hidden {
  display: none;
}

.navbar {
  border-bottom: 1px solid $grey;
  .navbar-text {
    color: black;
  }
  i {
    font-size: rem(25);
  }
  .navbar-brand {
    font-size: rem(30);
  }
  .profile-image {
    border-radius: 50%;
    max-width: 50px;
  }

  .profile-name {
    margin-right: 10px;
    font-size: rem(20);
    max-width: 100%;
    color: black;
  }
}

.loader {
  background: rgba(40, 44, 52, 0.57);

  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  div.loader-container {
    text-align: center;
    color: white;
    font-size: 3em;
    margin: 20% auto;
    width: 50%;
  }
}

.transaction-sign {
  .modal-dialog {
    border-radius: 4px;
    width: 55% !important;
    max-width: none !important;
  }

  .modal-header {
    font-size: 2rem;
    font-weight: 400;
    padding: 20px 20px 10px 40px;
  }

  .modal-body {
    padding: 0 20px 20px 40px;
    overflow-y: scroll;

    .row {
      padding-top: 15px;
      padding-bottom: 10px;
      font-weight: 500;
      font-size: 1rem;
      border-bottom: 1px solid #e0e0e0 !important;

      :nth-child(1) {
        border-right: 1px solid #e0e0e0 !important;
      }

      :nth-child(2) {
        color: #93949d;
      }
    }

    :nth-last-child(1) {
      border-bottom: none !important;
    }
  }

  .modal-backdrop {
    background-color: none;
  }

  .modal-footer {
    :nth-child(1) {
      background-color: #f5842c;
      border: none;
      border-radius: 4px;
    }

    :nth-child(2) {
      background-color: white;
      border-color: black;
      color: black;
      border-radius: 4px;
    }
  }

  word-wrap: break-word;
}

.license-link {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-top: 60px;
}

.table {
  color: rgba(0, 0, 0, 0.65) !important;
  font-size: 13px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;

  thead {
    tr {
      th {
        font-weight: 500;
        text-align: left;
        background: #f2f4f8;
        border-top: none;
        border-bottom: 1px solid #e8e8e8;
        padding: 12px 8px;
      }

      :nth-child(1) {
        border-top-left-radius: 4px;
      }

      :nth-last-child(1) {
        border-top-right-radius: 4px;
      }
    }
  }

  tbody {
    tr {
      transition: all 0.7s, height 0s;

      &:hover {
        background-color: #e4e9f0;
      }

      td {
        padding: 12px 8px;
        border-bottom: 1px solid #e8e8e8;
      }
    }
  }
}

.breadcrumb {
  padding: rem(9) rem(30);

  background-color: #fff;
  border-bottom: 1px solid #e4e9f0;
  color: #c0bdd0 !important;
  font-size: rem(30);
  font-weight: 400;
  text-align: left;
  font-family: "Nunito Sans", sans-serif !important;

  a {
    text-decoration: none;
    color: inherit;
    cursor: none;
  }

  li {
    &::before {
      content: "·" !important;
      color: #0e0b20;
      font-weight: bolder;
    }
  }

  :nth-child(1) {
    &::before {
      content: "" !important;
    }
  }

  :nth-last-child(1) {
    span {
      font-weight: bolder;
      color: #0e0b20;
    }
  }
}

@import "responsive";
