@import "utils";
@import "colors";

.jumbotron {
  h1,
  h4 {
    text-align: center;
  }
}
.login-section {
  p.description {
    @extend .center-align-text;
  }
}

.product-info-tab {
  margin-bottom: 20px;
}

.table-col , .chart-col{
  margin-bottom: 10px;
}

.dashboard-section {
  border: 1px solid $grey;
  height: 370px;
  margin-bottom: 30px;

  h3.section-title {
    text-transform: uppercase;
    color: $darkblue;
    text-align: center;
    margin: 2%;
    font-size: 1.6em;
  }
}

.add-harvest-col {
  button {
    width: 100%;
    a {
      color: white;

      &:hover {
        text-decoration: none !important;
      }
    }
  }
  margin-bottom: 50px;
}

.table-section {
  .see-all {
    width: 100%;
    text-align: center;
  }

  padding: 10px;

  .table-key {
    margin-right: 30px;
    border: 1px solid $grey;

    ul {
      list-style: none;
      padding-left: 0;
      margin: 0 20px;

      li {
        .key-color {
          margin-right: 10px;
          display: inline-block;
          $s: 10px;
          width: $s;
          height: $s;
        }
      }
    }
  }

  .table {
    td {
      a {
        color: $blue;
        font-weight: bold;
      }
    }

    .product-name {
      font-weight: bold;
    }

    thead {
      th {
        border-top: none;
      }
    }
  }
}

.product-status-section {
  margin-top: 20px;
  .progress {
    height: 50px;
    border-radius: 0;
  }

  .progress-bar {
    font-style: italic;
    font-size: 2em;
  }
}

.product-details-section {
  padding-top: 30px;
  border-bottom: 2px solid $grey;
  text-align: center;
}

$min-height: 300px;

.status-tab {
  p.status-tab-description {
    color: $darkblue;
    font-weight: bold;
  }

  height: 190px;
  border: 1px solid $grey;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.qr-code-wrapper {
  width: 400px;
  margin: 0 auto;
}

p.description {
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  font-size: 1.2em;
}

.hidden {
  display: none;
}

.navbar {
  border-bottom: 1px solid $grey;

  .profile-image {
    border-radius: 50%;
    max-width: 50px;
  }

  .profile-name {
    margin-right: 10px;
    max-width: 100%;
    color: black;
  }
}

.loader {
  background: rgba(40, 44, 52, 0.57);

  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  div.loader-container {
    text-align: center;
    color: white;
    font-size: 3em;
    margin: 20% auto;
    width: 50%;
  }
}

.transaction-sign {
  .modal-dialog {
    border-radius: 4px;
    width: 55% !important;
    max-width: none !important;
  }
  .modal-header {
    font-size: 2rem;
    font-weight: 400;
    padding: 20px 20px 10px 40px;
  }
  .modal-body {
    padding: 0 20px 20px 40px;
    overflow-y: scroll;

    .row {
      padding-top: 15px;
      padding-bottom: 10px;
      font-weight: 500;
      font-size: 1rem;
      border-bottom: 1px solid #e0e0e0 !important;

      :nth-child(1) {
        border-right: 1px solid #e0e0e0 !important;
      }

      :nth-child(2) {
        color: #93949d;
      }
    }

    :nth-last-child(1) {
      border-bottom: none !important;
    }
  }
  .modal-backdrop {
    background-color: none;
  }

  .modal-footer {
    :nth-child(1) {
      background-color: #f5842c;
      border: none;
      border-radius: 4px;
    }
    :nth-child(2) {
      background-color: white;
      border-color: black;
      color: black;
      border-radius: 4px;
    }
  }
  word-wrap: break-word;
}
.license-link{
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-top: 60px;

}
