@import "colors";
@import "utils";

.navbar {

  border-bottom: 1px solid $grey;

  .profile-image {
    border-radius: 50%;
  }

  .profile-name {
    margin-right: 10px;
    color: black;
  }

}


.title {
  h1 {
    color: $green;
  }
}



.chart-section{

  div{
    height: 300px;
    //width: 200px;

  }
  .graph-details{

  ul{
    list-style: none;
  }
  h5{
    color: $grey;
  }
  }
}
  h3.status-tab-title{
    font-weight: bolder;
  }

.product-table-dashboard{
  max-height: 360px;
  overflow-y: scroll;
}
.product-status-section{

  .progress{
    height: 50px;
    border-radius: 0;
  }
  .progress-bar{
    font-style: italic;
    font-size: 2em;
  }
}
.ready-for-harvest {
  color: $green;
  .key-color {

    background-color: $green;
  }

}
.lab-tested{
  color: $pink;
  .key-color{
    background-color: $pink;
  }
}
.harvested{
  color: $blue;
  .key-color{
    background-color: $blue;
  }
}

.product-modal{
  width: 900px;

}

.product-image-section{
  img{
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
  }
}

.product-details-section{
  padding-top: 30px;
  border-bottom: 2px solid $grey;
  text-align: center;

}


ul.action-panel-list{

    list-style: none;
  li{
    margin-bottom: 10px;
  }
    li.current-status{
      cursor: none;
      color:green;

      &:before{
        content: '✓';
        margin-right: 4px;
      }
    }
  li.inactive{
    color: $grey;
    cursor: not-allowed;
  }
  li.active{
    cursor: pointer;
    font-weight: bolder;
  }

}

$min-height:300px;
.action-panel-form-section{
  h1{
    border-bottom:1px solid $grey ;
    margin-bottom: 40px;

  }
  border: 1px dashed $grey;
  padding: 50px;
  min-height: $min-height;
}

.action-panel-list-section{
  //border: 1px dashed $grey;
  min-height: $min-height;
  position: relative;
  h3{
    padding-left: 4px;
  }


}

.product-info-tab{
  margin-bottom: 20px;
}
.secondary-actions-section{
  .btn{
    border-radius: 0;
    color:white;

  }
}
.destroy-crop{
  position: absolute;
  bottom: 0;
  right:0px;
  width: 50%;
}
.move-location{
  position: absolute;
  bottom: 0;
  left:0px;
  width: 50%;
}

.profile-section{
  .profile-image-section{
    padding: 30px;
    img{
      max-width: 100%;
    }
  }
  .form-group{
    padding: 30px;
  }
  .custom-file-label{
    margin:60px auto;
    width: 80%;
    color: grey;


  }
  button[type='submit']{
    display: block;
    margin: 0 auto;
  }
}
