@import "colors";

.lab-dashboard-section {
  border: 3px solid $grey;
  padding: 0 10px 10px 10px;
  margin-bottom: 30px;

  h3 {
    text-transform: uppercase;
    color: $darkblue;
    text-align: center;
    margin: 2%;
    font-size: 1.6em;
  }

  table {
    text-align: center;
  }

  .approve{
    color: green;
  }

  .reject{
    color: red;
  }

  button {
    padding: 4px;
  }

}


.lab-header-section{
  border-bottom: 1px solid $grey;
  h1.title{
    text-align: center;
    padding-top: 30px;
    font-size: 50px;
  }
  .lab-details-section{
    border-left: 4px solid black;
    padding-left: 10px;

  }
}
  .lab-product-details-section{
    ul{
      display: flex;
      justify-content: space-around;
      margin-left: 0;
      padding-left:0;
      li{
        display: inline-block;


        font-weight: bold;
      }
    }
  }

  .card {
    margin: 10px;
    border-radius: 10px!important;
    .card-header{
      border: none;
      background-color: #e9ecef;
      text-align: center;
      text-transform: uppercase;
    }
    &:hover{
      cursor: pointer;
    }
  }
  canvas{
    height: 242px!important;
  }
