@import 'colors';
@import "utils";
.jumbotron{
  margin-bottom: 0;
}
.card-footer{
  text-align: right;
  color: $blue;
}
main.landing-page{
  background-color: white;
.col-md-12{
  .utils__title{
    padding-top: rem(20);
    padding-left: rem(15);
  }
}
}
.login-form{
  &.card{
  border: 1px solid $grey;

  margin-top: 100px;
  margin-bottom: 100px;
  }
label{
  font-size: 2em;

}
  padding: rem(30);
  h1{
    text-align: center;
    font-size: 5em;
  }
  .btn{
    width: 100%;
    font-size: 2rem;
  }
}
