@import "colors";

//1

.manufacturer-actions {
  margin-bottom: 20px;
  border: 1px dashed black;
  border-radius: 10px;
  padding: 50px;
  .action-info{
    text-align: center;
    margin-bottom: 40px;
  }
  button{
    width: 20%;
  }
}

.harvest-detail-section-manufacturer{
  text-align: center;
  h4 {
    margin-bottom: 10px;
  }
}
