@import "utils";
@import "colors";

.retail-receipt-section{
  background-color: #6e7480;
  border-radius: 10px;
  svg{
    margin-bottom: 20px;
  }
  @extend .shadow-box;
  color: white;
  h1{
    padding-left: 20px;
    padding-top: 10px;
  }

  ul{
    font-family: 'monospace';
    list-style: none;
    ul{
      margin-top: 10px;
      padding-left: 0;
    }
    h6{
      font-weight: bold;
    }
    li{
      border-bottom: 1px solid white;
      span{
        float: right;
        margin-right: 10px;
        text-align: left;
      }

    }
  }
}

label.custom-file-label{
  width: 96%;
  margin: 0 auto;
  &::after{
    content: "Upload";
  }
}

span.warning{
  padding-left: 1px;
  display: block;
  margin-top:5px;
}
