@import "colors";
@import "utils";


.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 20%;
  height: 100%;
  background-color: #32353d;
  z-index: 2;
  color:white;
  //display: none;
  transition: 0.1s all linear;
  padding: 5px;

}

.overlay {
  background: rgba(40, 44, 52, 0.57);
  z-index: 4;
  position: fixed;
  left: 20%;
  width: 80%;
  height: 100%;
  top: 0;
  overflow-y: hidden;



}

h1.title{
  padding-left: 8px;
  padding-bottom: 10px;
  border-bottom: 1px solid $grey;
  font-size: 30px;
}

.close-sidebar {
  float: right;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0px 2px;
  span{
    color:white;
    font-weight: bolder;
    font-size: 1.4em;
  }

  &:focus {
    outline: none;

  }

}

.sidebar-list{
  @extend .vertical-centered-list;
  height: 80%;


  li{

    margin: 40px auto 0 auto;
    width: 200px;

    max-width: 100%;

  .fas{
    margin-right: 5px;
    position: relative;
    left: 0;

  }
  }
}

.sidebar-profile-section{
  border-bottom: 1px solid $grey;
  padding-bottom: 10px;
    img{
      border-radius: 4px;
      max-width: 100%;
    }
  .sidebar-profile-details{

    span.name{
      font-weight: bolder;
    }
  }
}

.sidebar-footer-section{
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  padding-bottom:10px ;
  ul{
    @extend .horizontal-list;

  }
}
