@import "colors";
@import "utils";

.journey-title{
  text-align: center;
  margin-top: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  background: $grey;

}
.journey-summary{
  text-align: center;
  padding-left: 300px;
  padding-right: 300px;

  font-size: 1.5em;
}

.horizontal-list{
  text-align: center;
}
.track-product {

  counter-reset: role;
  .story-col {
    margin-top: 50px;
    .story-div {
      h2{
        text-align: center;
      }

      .sub-heading{
        width: 100%;
        font-size: 1em;
        font-weight: normal;
        text-align: center;

      }
      background-color: white;
      box-shadow: 0 0 10px 2px #eee;
      padding: 30px;
      border: 1px dashed black;
      .info-box {

        ul {
          list-style: none;
          li {
            margin-bottom: 10px;
            font-weight: bold;
            span.detail{
              font-weight: normal;
              font-style: italic;
              color: $blue;
            }
          }
        }
      }

      &::before {
        counter-increment: role;
        content: counter(role);
        position: absolute;
        box-shadow: 0 0 10px 10px #eee;
        left: 4px;
        top: -11px;
        background: rgba(211, 211, 211, 1);
        width: 25px;
        height: 25px;
        text-align: center;
        border-radius: 50%;
      }
    }
  }
}

.journey-wrapper{
  margin: 3% auto;
  width: 100%;
  padding: 3%;
  background-color: #f8f9fa;
  button{
    width: 50%;
  }
}
