@import "colors";
@import "utils";

.journey-title {
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  color: $text-lighten;
  font-weight: bold;
  background: white;
  margin: rem(4);
  border-radius: rem(4);
}
.journey-summary {
  text-align: center;
padding: rem(10);

  font-size: 1.5em;
}

.horizontal-list {
  text-align: center;
}
.track-product {
  counter-reset: role;
  .story-col {
    margin-top: 50px;
    .story-div {
      h2 {
        text-align: center;
      }

      .sub-heading {
        width: 100%;
        font-size: 1em;
        font-weight: normal;
        text-align: center;
      }
      .info-box {
        ul {
          list-style: none;
          li {
            margin-bottom: 10px;
            font-weight: bold;
            span.detail {
              font-weight: normal;
              font-style: italic;
              color: $blue;
            }
          }
        }
      }

      &::before {
        counter-increment: role;
        content: counter(role);
        position: absolute;
        box-shadow: 0 0 10px 10px #eee;
        left: rem(-10);
        top: rem(-10);
        background: rgba(211, 211, 211, 1);
        width: rem(30);
        height: rem(30);
        padding: rem(1);
        font-size: rem(17);
        text-align: center;
        border-radius: 50%;
      }
    }
  }
}

.journey-wrapper {
  margin: 3% auto;
  width: 100%;
  padding: 3%;
  background-color: #f8f9fa;
  button {
    width: 50%;
  }
}
.product-image-section{
  img{
    width: rem(300);
    height: auto;
  }
}
