@import "colors";

.shipment-section{
  padding: 0 10px 10px 10px;

  h3 {
    text-transform: uppercase;
    color: $darkblue;
    text-align: center;
    margin: 2%;
    font-size: 1.6em;
  }

  table {
    text-align: center;
  }

  button {
    padding: 4px;
    width: 75%;
  }
}

.no-pending-shipment{
  background-color: #dfe2e7;
}

.badge-success{
  margin-left: 20px;
}
